:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: Poppins;
  transition: background-color 0.3s, color 0.3s;
  letter-spacing: 0.2rem;
}

.logo {
  height: 50px !important;
}

.font-200 {
  font-weight:200;
}
