################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env*
!.env.example

# Build output
dist/
build/

# Local IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional cache folders
.cache/
.temp/
output/

# Coverage reports
coverage/

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# Vuepress
.vuepress/dist/

# Nuxt
.nuxt/
output/public/

# Storybook
.storybook-out/

/.vs/DevOpsAppContentManager/FileContentIndex/f3ce9b03-974e-47e8-a0f9-9b329314f596.vsidx
/.vs/DevOpsAppContentManager/v17/.wsuo
/.vs/DevOpsAppContentManager/v17/DocumentLayout.backup.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/DevOpsAppContentManager/v17/DocumentLayout.json
/DevOpsAppContentManager/.vs/DevOpsAppContentManager/FileContentIndex/86dd0f76-9296-438a-8be2-a082fd85df52.vsidx
/DevOpsAppContentManager/.vs/DevOpsAppContentManager/v17/DocumentLayout.json
/DevOpsAppContentManager/devopsappcontentmanager/.vscode/extensions.json
*.vsidx
/DevOpsAppContentManager/.vs/DevOpsAppContentManager/v17/DocumentLayout.backup.json
*.cache
*.txt
*.props
