/* Custom base */
:root {
  --font-main: "poppins", sans-serif;
}

/* Reset tipográfico global */
html,
body,
#app {
  font-family: var(--font-main);
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Texto normal */
p, span, label, input, textarea, small {
  font-weight: 400;
}

/* Títulos y elementos importantes */
h1, h2, h3, h4, h5, h6,
.title,
.cta,
.badge {
}

/* Soporte para cursiva */
em, i {
  font-style: italic;
}
